<!DOCTYPE html>
<html lang="en">
{{template "head"}}

<title>Add Book</title>

<body>
    {{template "nav"}}
    <div class="container text-center mt-6">
        {{template "alert_box" .}}
        <h1>Add Book</h1>
        <form action="/admin/add_book" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required />
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" class="form-control" id="author" name="author" required />
            </div>
            <div class="form-group">
                <label for="genre">Genre:</label>
                <input type="text" class="form-control" id="genre" name="genre" required />
            </div>
            <div class="form-group">
                <label for="available_copies">Available Copies:</label>
                <input type="number" class="form-control" id="available_copies" name="available_copies" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>