<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<title>Admin Requests</title>

<body>
    {{template "nav"}}
    <div class="container text-center mt-6">
        {{template "alert_box" .MessageData}}
        <h1>Admin Requests</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range .Requests}}
                <tr>
                    <td>
                        {{ .UserID }}
                    </td>
                    <td>
                        {{ .Username }}
                    </td>
                    <td>
                        <div class="btn-group justify-content-center" role="group">
                            <form action="/admin/accept_admin/{{.UserID}}" method="post">
                                <button class="btn btn-success mr-2">Accept</button>
                            </form>
                            <form action="/admin/reject_admin/{{.UserID}}" method="post">
                                <button class="btn btn-danger">Reject</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>