<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
    <div class="container text-center mt-5">
        <h1>Dashboard</h1>
        <div class="row mt-5">
            <div class="col-md-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">View Books</h5>
                        <p class="card-text">Click here to view all available books.</p>
                        <a href="/view_books" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">Return Books</h5>
                        <p class="card-text">Click here to return books.</p>
                        <a href="/return_book" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">View Transaction History</h5>
                        <p class="card-text">Click here to view transaction history.</p>
                        <a href="/transaction_history" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">Request Admin Access</h5>
                        <p class="card-text">Click here to request admin access!</p>
                        <a href="/request_admin" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">Logout</h5>
                        <p class="card-text">Click here to logout.</p>
                        <a href="/logout" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>