<!DOCTYPE html>
<html lang="en">

{{template "head"}}
<title>Book List</title>

<body>
    {{template "nav"}}
    <div class="container text-center mt-6">
        {{template "alert_box" .MessageData}}
        <h1>Book List</h1>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Available Copies</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Books}}
                <tr>
                    <td>
                        {{.Title }}
                    </td>
                    <td>
                        {{.Author }}
                    </td>
                    <td>
                        {{.Genre }}
                    </td>
                    <td>
                        {{ .AvailableCopies }}
                    </td>
                    <td>
                        <form action="/borrow_book/{{.BookID}}" method="post">
                            <button class="btn btn-primary">Borrow</button>
                        </form>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    </div>
</body>

</html>